@{
    @* ViewData["Title"] = "Home Page"; *@
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Booking Successful</h1>
    <p><a asp-action = "GetFlightRequirements">Check other flights</a></p>
</div>