@{
    @* ViewData["Title"] = "Home Page"; *@
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">No Flights Available</h1>
    <p><a asp-action = "GetFlightRequirements">Try another ?</a></p>
</div>
