@{
    @* ViewData["Title"] = "Home Page"; *@
    @* Layout = "~/Views/Shared/UserLayout.cshtml"; *@
}

<div class="text-center">
    <h1 class="display-4">User Registered</h1>
    <p><a asp-action = "Login">Back To Login</a></p>
</div>
